:root {
    --root-bg: radial-gradient(#1e1e1e, #131212); /* Цвет фона */
    --root-fg: #c7c7c7; /* Цвет основного текста */
    --header-fg: #000; /* Цвет текста на панели управления */
    --accent-gradient-color: #dadada; /* Цвет кнопок */
    --accent-color: #f9f6f6; /* Цвет меню */
    --search-filed-bg: #dadada; /* Цвет поля поиска */
    --secondary-gradient-color: radial-gradient(#8a8888, #615f5f); /* Цвет панели управления */
}