:root {
    --root-bg: radial-gradient(#fffafa, #faf2f2); /* Цвет фона */
    --root-fg: #767676; /* Цвет основного текста */
    --header-fg: #FFFFFF; /* Цвет текста на панели управления */
    --accent-gradient-color: linear-gradient(144deg, #1e1e1e 0%, #131212 100%); /* Цвет кнопок */
    --accent-color: #1e1e1e; /* Цвет меню */
    --search-filed-bg: #131212; /* Цвет поля поиска */
    --secondary-gradient-color: radial-gradient(#333333, #292828); /* Цвет панели управления */
}