:root {
    --scrollbar-thumb-color: #FFFFFF;
    --scrollbar-track-color: rgba(147,144,250,1);
    --root-bg: radial-gradient(#404F7F, #334069);
    --root-fg: #FFFFFF;
    --logs-bg: linear-gradient(175deg, rgba(147,144,250,1) 0%, rgba(80,73,162,1) 100%);
    --search-bg: linear-gradient(328deg, rgba(62,76,124,1) 0%, rgba(56,68,111,1) 100%);
    --accent-color: radial-gradient(#2D375C, #242D4D);
    --temp-color-352: #4060AA;
    --temp-color-354: #3E73B7;
    --temp-color-356: #419FD6;
    --temp-color-358: #4DC7F2;
    --temp-color-360: #6BD1DE;
    --temp-color-362: #6EC17E;
    --temp-color-364: #6AC048;
    --temp-color-366: #71C041;
    --temp-color-367: #81C53F;
    --temp-color-368: #96C842;
    --temp-color-369: #A6CB3B;
    --temp-color-370: #C1D830;
    --temp-color-372: #D5E12E;
    --temp-color-374: #EFEA1D;
    --temp-color-376: #FBE202;
    --temp-color-378: #F27A24;
    --temp-color-380: #F15728;
}

*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

*::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
    border: 3px solid var(--scrollbar-track-color);
}

html {
    background: var(--root-bg);
    overflow: auto;
    height: 100%;
}

body {
    overflow: auto;
    color: var(--root-fg);
    background: var(--root-bg);
    height: 100%;
}

.header {
    padding-top: 1rem;
    margin: 0% 10% 0% 10%;
    background: var(--accent-color);
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(0 0 0 / 30%)
}

.btn-outline {
    color: var(--logs-bg);
    border-color: var(--logs-bg);
}

.btn-outline:hover {
    color: var(--root-fg);
}

thead, tbody tr {
    color: var(--root-fg);
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-hover>tbody>tr:hover {
    color: var(--scrollbar-track-color);
}

input[type="date"] {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 5px;
}

input[type="date"]:focus {
    outline: none
}

.button {
    transition: all 0.2s ease-out 0s;
    color: var(--root-fg);
    background: var(--logs-bg);
}

.button:hover {
    color: var(--root-fg);
    border-radius: 5px;
    box-shadow: 0 0 40px rgb(0 0 0 / 20%)
}

form.search {
    position: relative;
    margin: 0 auto;
    background: var(--search-bg);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%)
}

form.search input, button {
    border: none;
    outline: none;
    background: transparent;
}

form.search button {
    height: 32px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: currentcolor;
}

form.search button:before  {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: var(--search-bg);
}

form.search input {
    width: 100%;
    height: 32px;
    padding-left: 15px;
    color: var(--root-fg)
}

#topArrow {
    position: fixed;
    right: 45px;
    bottom: 45px;
    display: none;
    color: var(--color-fg);
}

.stat-block {
    border: 1px solid;
    border-style: none solid;
}

.stat-block-start {
    border-style: none solid none none;
}

.stat-block-end {
    border-style: none none none solid;
}