{% extends 'base.html' %}

{% block header_content %}
<div style="display: inline-block;">
    <h3 class="mx-4">Результаты по запросу `{{condition}}`</h3>
    <div class="btn-toolbar" style="display: inline-flex;">
        <button class="btn button btn-sm" type="button" style="margin-left: 1rem; margin-bottom: 1rem;" onclick="pywebview.api.open_url('/?date={{date}}')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
            Вернуться
        </button>
        <form class="search" style="margin-left: 1rem; margin-bottom: 1rem;" method="get" action="/search">
            <input type="hidden" name="date" value="{{date}}">
            <input type="hidden" name="group" value="{{group}}">
            <input name="search" type="text" placeholder="Имя, температура" required>
            <button type="submit"></button>
        </form>
    </div>
    {% block stats %}
    {% endblock %}
</div>
{% endblock %}

{% block body %}
{% block results %}{% endblock %}
<div class="modal fade" id="deleteLogModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background: var(--root-bg)">
            <form id="deleteForm" method="get">
                <input type="hidden" name="date" value="{{date}}"/>
                <input type="hidden" name="group" value="{{group}}"/>
                <input type="hidden" name="search" value="{{condition}}"/>
                <div id="deleteModalBody">
                    <div class="modal-header">
                        <h5 class="modal-title">Удалить запись?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Запись будет не возможно восстановить.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-danger" id="deleteLogModalBtn" data-log-id="">Удалить</button>
                        <script type="text/javascript">
                            document.getElementById('deleteLogModalBtn').onclick = function() {
                                pywebview.api.delete_log(this.dataset.logId)
                            };
                        </script>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    let deleteLogModal = document.getElementById('deleteLogModal');
    let deleteLogModalBtn = document.getElementById('deleteLogModalBtn');
    deleteLogModal.addEventListener('show.bs.modal', function (event) {
        let targetButton = event.relatedTarget;
        deleteLogModalBtn.dataset.logId = targetButton.dataset.logId;
    });
</script>
<div class="modal fade" id="editLogModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background: var(--root-bg)">
            <form id="editForm" method="get">
                <input type="hidden" name="date" value="{{date}}"/>
                <input type="hidden" name="group" value="{{group}}"/>
                <input type="hidden" name="search" value="{{condition}}"/>
                <div id="editModalBody">
                    <div class="modal-header">
                        <h5 class="modal-title">Редактирование записи</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="nameInput" class="form-label">ФИО человека</label>
                            <input type="text" class="form-control" id="nameInput" required>
                        </div>
                        <div class="mb-3">
                            <label for="tempInput" class="form-label">Температура</label>
                            <input type="number" class="form-control" id="tempInput" step="0.1" max="40" min="32" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-success" id="editLogModalBtn" data-log-id="">Сохранить</button>
                        <script type="text/javascript">
                            document.getElementById('editLogModalBtn').onclick = function() {
                                let nameInput = document.getElementById('nameInput');
                                let tempInput = document.getElementById('tempInput');
                                pywebview.api.edit_log(this.dataset.logId, nameInput.value, tempInput.value)
                            };
                        </script>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    let editLogModal = document.getElementById('editLogModal');
    let editLogModalBtn = document.getElementById('editLogModalBtn');
    editLogModal.addEventListener('show.bs.modal', function (event) {
        let targetButton = event.relatedTarget;
        editLogModalBtn.dataset.logId = targetButton.dataset.logId;
        nameInput.value = targetButton.dataset.name;
        if (targetButton.dataset.temp > 0) {
            tempInput.value = targetButton.dataset.temp;
        } else {
            tempInput.value = 36.6;
        };
    });
</script>
{% endblock %}
